body {
  background: #666;
  font-family: Arial;
  font-size: 16px;
}

.container .todo-list-container {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  position: relative;
  width: 268px;
}
.container .todo-list-container > div {
  position: relative;
}
.container .todo-list-container h2 {
  background: url("../images/todolist-header.png") no-repeat;
  color: #FFF;
  font-size: 20px;
  line-height: 2;
  margin: 0;
  padding: 0 0 12px;
  text-align: center;
}
.container .todo-list-container ul {
  background: transparent url("../images/todolist-v-bg.gif") repeat-y 1px 0;
  list-style: none;
  margin: -8px 0 0;
  padding: 10px 0 5px;
}
.container .todo-list-container ul li:first-child {
  border-top: none;
}
.container .todo-list-container ul li {
  border-top: 1px solid #dde1e6;
  font-family: Comics, Arial, serif;
  padding: 0 0 0 13px;
}
.container .todo-list-container ul li span:first-child {
  padding: 0;
}
.container .todo-list-container ul li span {
  padding-left: 10px;
}
.container .todo-list-container ul input {
  border-right: 1px solid #000;
  padding: 0 10px 0 0;
}
.container .todo-list-container .bottom {
  background: url("../images/todolist-btm.png") no-repeat 1px 0;
  height: 6px;
  width: auto;
}
